<%# title "Seja bem-vindo!" %>
<!-- Resolver o problema da contante title -->
<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3>Quem está com o que:</h3></div>
  <div class="panel-body">
    <p> Abaixo, a lista dos seus amigos que ainda não devolveram seus pertences =/</p>
  </div>

  <!-- Table -->
  <table class="table table-hover">
  		<thead>
        <tr>
          <th>Nome</th>
          <th>Item</th>
          <th>Desde</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Fulano de tal</td>
          <td>Pequeno Principe</td>
          <td>20/04/2014</td>
          <td>
          	<span class="glyphicon glyphicon-envelope"></span>
          	<span class="glyphicon glyphicon-ok"></span>
          </td>
        </tr>
        <tr>
          <td>Fulano de tal</td>
          <td>Pequeno Principe</td>
          <td>20/04/2014</td>
          <td>
          	<span class="glyphicon glyphicon-envelope"></span>
          	<span class="glyphicon glyphicon-ok"></span>
          </td>
        </tr>
        <tr>
          <td>Fulano de tal</td>
          <td>Pequeno Principe</td>
          <td>20/04/2014</td>
          <td>
          	<span class="glyphicon glyphicon-envelope"></span>
          	<span class="glyphicon glyphicon-ok"></span>
          </td>
        </tr>
      </tbody>
  </table>
</div>



