<footer class="container">
  <div class="mastfoot">
    <div class="inner">
      <p class="text-center">By <a href="https://github.com/valparajara">Valéria Parajara</a>.</p>
    </div>
  </div>
</footer>