<header>
	<div class="container">
	  <div class="header">
	  	<div class="row">
	    	<h2 class="col-xs-12 col-md-8 text-muted">Emprestei</h2>
	    	<span class="col-xs-6 col-md-4 glyphicon glyphicon-log-in"></span>
			</div>
	  </div>
	</div>
</header>