<header>
	<div class="container">
	  <div class="header">
	  	<div class="row">
				<p class="navbar-text navbar-right">
	  			<%= link_to "Novo Empréstimo", new_emprestimo_path, class: "navbar-link" %>
				</p>
			</div>
	  </div>
	</div>
</header>